.navbar {
    height: 72px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: var(--page-padding);
    right: var(--page-padding);
    color: var(--text-color);
}

.nav-left {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-tabs {
    display: flex;
    gap: 20px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-tabs a:hover:not(.current) {
    color: var(--hover-color);
}

.nav-tabs .current {
    cursor: default;
}

.logo img {
    height: 30px;
}