:root {
    --primary-color: #e50914;
    --dark-color: #141414;
    --text-color: #e5e5e5;
    --hover-color: #b3b3b3;
}

body {
    background-color: var(--dark-color);
    color: var(--text-color);
    width: 1440px;
    margin: 0 auto;
}

.navbar {
    height: 72px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
}

.nav-left {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-tabs {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.nav-tabs a,
.nav-right a {
    text-decoration: none;
    color: var(--text-color);
}

.nav-tabs a:hover:not(.current),
.nav-right a:hover {
    color: var(--hover-color);
}

.nav-tabs .current {
    cursor: default;
}

.logo img {
    height: 30px;
}

.hero {}

.category {}

footer {}